:root {
  --main-color: #e87a00;
  --border-color: #ccc;
  --bg-grey: #5a5a5a;
  --bg-white: #ffffff;
  --bg-hover: #f7f7f7;
}

.trips {
  padding: 2rem 100px 20px;
  /* position: relative; */
}
.add-trip {
  justify-content: flex-end;
  margin: 20px 0;
}
.add-trip button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.filters {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.filters select {
  width: 200px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid #d7d7d7;
  padding: 5px 10px;
  position: relative;
  z-index: 101;
  height: 50px;
}

.all-trips {
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 40px;
}
.trip-card {
  width: 350px;
  background-color: #d7d7d7;
  position: relative;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
}
.trip-card .bottom {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 30%;
  z-index: 100;
  padding-left: 20px;
}
.trip-card h2 {
  position: absolute;
  bottom: 15px;
  color: white;
  z-index: 101;
  padding-left: 10px;
}
/* single page  */
.single {
  padding: 2rem 100px;
}
.single .info {
  border: 2px solid #d7d7d7;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.single .info img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.single .single-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.single .infos {
  position: relative;
  z-index: 1000;
  bottom: 20;
  width: 100%;
}
.single .infos .name {
  color: white;
}
.single .infos .fees {
}
.btn-update {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  width: 60%;
  border: 1px solid var(--main-color);
  cursor: pointer;
}
.btn-update:hover {
  background-color: white;
  color: var(--main-color);
}
.fill {
  gap: 10px;
  align-items: center;
  width: 320px;
  font-weight: bold;
  font-size: 18px;
}
.fill svg {
  color: var(--main-color);
}

/* add trip  */
.add-trip-box {
  width: 50%;
  border-radius: 6px;
  padding: 10px 20px 20px;
  z-index: 1000001;
  background-color: white;
  gap: 20px;
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -20%);
  display: flex;
}
.add-trip-box h2 {
  text-align: center;
  color: var(--main-color);
}
.add-trip-box form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.add-trip-box form .input {
  gap: 5px;
  width: 48%;
}
.add-trip-box form label {
  font-weight: bold;
}
.add-trip-box form .input input {
  padding: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  height: 30px;
}
.add-trip-box form textarea {
  padding: 5px;
}
.add-trip-box select {
}
.message {
  background-color: "green";
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message span {
  color: white;
  font-weight: bold;
  font-size: 16;
}
.success-created {
  color: green;
}
.btn_add_trip {
  width: 30%;
  height: 50px;
  bottom: -20px;
}
.places {
  list-style-type: disc;
}
.places li {
  margin-left: 100px;
  font-weight: bold;
}
