:root {
  --main-color: #e87a00;
  --border-color: #ccc;
  --bg-grey: #d3d3d3;
  --bg-white: #ffffff;
  --bg-hover: #f7f7f7;
}
.teachers {
  padding: 2rem 100px;
}
.table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #808080;
}
.titles {
  background-color: #000;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.titles .address {
  transform: translateX(-60px);
}
.titles button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  color: var(--main-color);
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.titles button:hover {
  color: white;
  background-color: var(--main-color);
}
.second {
  padding: 10px;
}
.teachers-list svg {
  font-size: 25px;
}
.name {
  gap: 10px;
  align-items: center;
}
.name .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.teachers-list {
  gap: 30px;
}
.teachers-list .delete button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.teachers-list .delete button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 5px 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
